<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>911038214517-89h8tb5fao80lpp3la5mvo1s23kohsko.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.911038214517-89h8tb5fao80lpp3la5mvo1s23kohsko</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>911038214517-ka03snqub14af8s26gvstadg919f7cp6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCS-KLmyvfyvN3jUtbLY6cDOde_Aeqhvso</string>
	<key>GCM_SENDER_ID</key>
	<string>911038214517</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dub</string>
	<key>PROJECT_ID</key>
	<string>dsep-unified-bap-ui</string>
	<key>STORAGE_BUCKET</key>
	<string>dsep-unified-bap-ui.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:911038214517:ios:bcf3dc9fd703b3df25233c</string>
</dict>
</plist>